<!DOCTYPE html>
<html >
<head>
    <link rel="stylesheet" href = "http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>

<body ng-app="jeopardy">
    <div class="container" ng-controller="jeopardyScoresController">

        <div class="row">

            <div class="col-sm-4" ng-repeat="score in scores track by $index">
                <h1><input ng-model="players[$index]" tabindex="1" ng-blur="saveScores()"></h1>
                <h1>${{score}}</h1><br>

                <div ng-repeat="value in possibleValues track by $index" style='margin: 20px'>
                    <button class='btn btn-success' ng-click="adjustScore($parent.$index, value);">+${{value}}</button>
                    &nbsp;&nbsp;
                    <button class='btn btn-danger' ng-click="adjustScore($parent.$index, -value)">-${{value}}</button>
                </div>
                <hr style='margin-top: 50px'>
                <button class='btn' ng-click="adjustScore($index, -score)">Clear Player Score</button>
            </div>
        </div>

        <div class="row" style='margin-top: 100px'>
            <button class='btn btn-danger' ng-click="clearScores()">Clear all scores</button>
        </div>


    </div>

</body>
    <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-resource.js"></script>
</html>

<script type='text/javascript'>


var app = angular.module('jeopardy', ['ngResource']);

app.controller('jeopardyScoresController', function($scope, $resource) {

    var Scores = $resource('scores.php');

    $scope.scores = [0,0,0];
    $scope.players = ["Player 1", "Player 2", "Player 3"];
    $scope.possibleValues = [100,200,300,400,500];

    Scores.get(function(scoresJson) {
        $scope.scores = scoresJson.scores;
        $scope.players = scoresJson.players;
    });

    $scope.adjustScore = function(i, points) {
        $scope.scores[i] += points;
        $scope.saveScores();
    }

    $scope.clearScores = function() {
        if (confirm("Really reset scores?")) {
            $scope.scores = [0,0,0];
            $scope.saveScores();
        }
    }

    $scope.saveScores = function() {
        Scores.save({scores: $scope.scores, players: $scope.players});
    }


});

</script>

