<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <style type="text/css">


        .game-board {
            width: 100%;
            height: 100%;
        }

        tr.category-header td {
            background-color: #101a7c;
            font-family: sans-serif;
            text-shadow: 5px 5px 5px #000;
            margin: 0px;
            color: white;
            border: 3px solid black;
            text-align: center;
            font-size: 3em;
            width: 20%;
            font-weight: bold;
        }

        tr.board-question td {
            background-color: #101a7c;
            font-family: sans-serif;
            text-shadow: 5px 5px 5px #000;
            margin: 0px;
            color: #daa520;
            border: 3px solid black;
            text-align: center;
            font-size: 4em;
            width: 20%;
            font-weight: bold;
        }

        .parent {
            min-height: 100vh;
            height: 100vh;
        }

        html, body {
            height: 100vh;
            background-color: black;
        }

        .clickable {
            cursor: pointer;
        }

        .qa-display {
            position: absolute;
            margin: 0px;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background-color: #081284;
            font-family: sans-serif;
            text-shadow: 5px 5px 5px #000;
            margin: 0px;
            color: white;
            text-align: center;
            font-size: 6em;
            font-weight: bold;
            display: table;
        }

        .qa-display-child {
            display: table-cell;
            vertical-align: middle;
        }

    </style>
</head>

<body ng-app="jeopardy" style="height: 100%">
<div ng-controller="jeopardyBoardController" class="parent">
    <div ng-if="prompting">
        <div ng-repeat="game in gameData">
            <button class='btn btn-primary' ng-click="init(game)">Game {{$index}}</button>
        </div>
    </div>

    <div ng-if="questionDisplay" class="qa-display" ng-click="clickQuestionDisplay()">
        <div class="qa-display-child">
            {{questionDisplay}}
        </div>
    </div>

    <div ng-if="answerDisplay" class="qa-display" ng-click="clickAnswerDisplay()">
        <div class="qa-display-child">
            {{answerDisplay}}
        </div>
    </div>

    <table class="game-board">
        <thead>
        <tr class="category-header">
            <td ng-repeat="category in board">
                {{category.name}}
            </td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="score in [0,1,2,3,4]" class="board-question">
            <td ng-repeat="category in board" ng-class="{'clickable' : (!category.qs[score].used)}"
                ng-click="clickQuestion(category, score)">
                    <span ng-if="!category.qs[score].used">
                        ${{(score + 1) * 100}}
                    </span>
            </td>
        </tr>
        </tbody>
    </table>

</div>

</body>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-resource.js"></script>
</html>

<script type='text/javascript'>


    var app = angular.module('jeopardy', ['ngResource']);


    app.controller('jeopardyBoardController', function ($scope, $resource) {


        var loader = $resource('gameData.json');

        loader.get(function (result) {
            $scope.gameData = result.games;
            $scope.prompting = true;
        });
        $scope.init = function (game) {
            $scope.prompting = false;
            $scope.board = game;

        }

        $scope.clickQuestion = function (category, score) {
            category.qs[score].used = true;
            $scope.questionDisplay = category.qs[score].q;
            $scope.showing = category.qs[score];
        }

        $scope.clickQuestionDisplay = function () {
            $scope.questionDisplay = null;
            $scope.answerDisplay = $scope.showing.a;
        }

        $scope.clickAnswerDisplay = function () {
            $scope.questionDisplay = null;
            $scope.answerDisplay = null;
        }

    });

</script>

